[submodule "InstrumentCluster"]
	path = InstrumentCluster
	url = git@github.com:SEAME-pt/Team02-InstrumentCluster.git
[submodule "JetRacer"]
	path = JetRacer
	url = git@github.com:SEAME-pt/Team02-JetRacer.git