[submodule "MicroControllers"]
	path = MicroControllers
	url = git@github.com:SEAME-pt/Team02-MicroControllers.git
[submodule "JetsonNano"]
	path = JetsonNano
	url = git@github.com:SEAME-pt/Team02-JetsonNano.git
[submodule "RaspberryPi"]
	path = RaspberryPi
	url = git@github.com:SEAME-pt/Team02-RaspberryPi.git
[submodule "MachineLearning"]
	path = MachineLearning
	url = git@github.com:SEAME-pt/Team02-MachineLearning.git
[submodule "Dataset"]
	path = Dataset
	url = git@github.com:SEAME-pt/Team02-Dataset.git
[submodule "ADAS_SIL"]
	path = ADAS_SIL
	url = git@github.com:SEAME-pt/Team02-ADAS_SIL.git
